#startButton{
    background-color: #00000088;
    border-radius: 2.5%;
    width: 35%;
}

.img-record {
    /* display: flex; */
    border-radius: 50%;
    width: 105px;
}

.record {
    justify-self: center;
}

.container {
    justify-content: center;
}

.recordingStarted {
    background-color: #a81714AA;
}

.intermittent-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: intermittent-color 1s infinite alternate;
}

@keyframes intermittent-color {
  0% {
    color: gray;
  }
  100% {
    color: black;
  }
}