.intermittent-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: intermittent-color 1s infinite alternate;
}

@keyframes intermittent-color {
  0% {
    color: #ff0000;
  }
  100% {
    color: #ae0000;
  }
}

.btn-danger {
    background-color: #C10F33;
}