#startButton{
}

.img-record {
    border-radius: 50%;
    width: 105px;
}

.record {
    justify-self: center;
}

.container {
    display: grid;
    justify-items: center;
}

.sub-main-container {
    display: grid;
    justify-items: center;
}

.recordingStarted {
    background-color: #a81714AA;
}

.intermittent-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: intermittent-color 1s infinite alternate;
}

@keyframes intermittent-color {
  0% {
    color: gray;
  }
  100% {
    color: black;
  }
}

@media screen and (max-width: 860px) {
    /* Styles specific to screens smaller than 860px */
    .main-container {
        justify-content: center;
    }
}